@font-face {
    font-family: 'TT Lakes Medium';
    src: url('fonts/TTLakes-Medium.eot');
    src: url('fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/TTLakes-Medium.woff') format('woff'),
    url('fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    }
html {
    width: 320px;
    height: 234px;
}
body {
    width: 320px;
    height: 234px;
    margin: 0;
    padding: 0;
}
.brand__slide--container {

}
.swiper {
}
section {
    background: #F2F2F2;
    height: 205px;
    width: 320px;
    padding-bottom: 24px;
}
.list__swiper {
}
h2 {
    font-family: 'TT Lakes Medium';
    font-weight: 500;
    max-width: 320px;
    height: 48px;
    font-size: 16px;
    color: #7E7E82;
    padding: 16px;
    margin: 0 0 0 0;
    line-height: 24px;
    background: #fff;
}
.button {
    display: none;
}
.swiper__slide {
    background: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    width: 240px;
    height: 72px;
    margin: 16px 8px 0 8px;
    display:flex;
}
.brand__slider {
    background: white;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    max-width: 240px;
    height: 72px;
    margin: 16px 8px 45px 8px;
    display:flex;
}
.brand__slider:first-child {
    margin: 16px 8px 0 16px;
}
.brand__slider--img {
}
.brand__slider--img1 {
    margin: 20px 54px 20px 16px;
}
.brand__slider--icon1 {
    margin: 16px 16px 16px 0;
}
.brand__slider--img2 {
    margin: 17px 0 16px 16px;
}
.brand__slider--icon2 {
    margin: 16px 16px 16px 48px;
}
.brand__slider--img3 {
    margin: 12px 0 16px 16px;
}
.brand__slider--icon3 {
    margin: 16px 16px 16px 120px;
}
.brand__slider--img4 {
    margin: 26px 0 25px 14px;
}
.brand__slider--icon4 {
    margin: 16px 16px 16px 38px;
}
.brand__slider--img5 {
    margin: 21.7px 0 21.7px 16px;
}
.brand__slider--icon5 {
    margin: 16px 16px 16px 36px;
}
.brand__slider--img6 {
    margin: 10px 0 10px 10px;
}
.brand__slider--icon6 {
    margin: 16px 16px 16px 118px;
}
.brand__slider--img7 {
    margin: 24px 0 24px 16px;
}
.brand__slider--icon7 {
    margin: 16px 16px 16px 70px;
}
.brand__slider--img8 {
    margin: 23px 0 23.4px 14px;
}
.brand__slider--icon8 {
    margin: 16px 16px 16px 38px;
}
.button {
  border:0;
  background: white;
}
.swiper-pagination{
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 20px;
}
.swiper-slide {
    display: inline-block;
    background: white;
    width: 240px;
    height: 72px;
}
.swiper-pagination-bullet:nth-child(11),
.swiper-pagination-bullet:nth-child(10) {
    display:none;
}